.title {
  width: 90rem;
  height: 22.125rem;
  padding: 3rem 13.75rem 3rem 15.625rem;
}
.title h1 {
  max-width: 56.875rem;
  font-size: 4.5rem;
  font-weight: bold;
  line-height: 120%;
  letter-spacing: -0.1875rem;
}

.body {
  width: 90rem;
  height: 117.1875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.375rem;
  padding: 2rem 15.625rem;
}
.body .who {
  width: 58.75rem;
  height: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.body .who p {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 150%;
  color: #7E8492;
}
.body .who .people {
  width: 18.625rem;
  height: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
}
.body .who .people img {
  width: 3.5rem;
  height: 3.5rem;
}
.body .who .people span {
  width: 12.9375rem;
  height: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.25rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.body .who .people span h3 {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.625rem;
}
.body .who .people span p {
  font-size: 1rem;
  line-height: 1.625rem;
  font-weight: 500;
  color: #7E8492;
}
.body .big-img {
  width: 58.75rem;
  height: 34.0625rem;
}
.body p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 2rem;
}
.body .title-text {
  width: 58.75rem;
  height: 28.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}
.body .title-text h1 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 120%;
}
.body .content {
  width: 55.8125rem;
  height: 17.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
}
.body .content img {
  width: 12.5rem;
  height: 12.5rem;
}
.body .content .block {
  width: 40.3125rem;
  height: 17.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.875rem;
}
.body .content .block .articles {
  width: 23.625rem;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
}
.body .content .block .articles h5 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.625rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.body .content .block .articles .article-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}
.body .content .block .articles .article-icons svg {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
.body .content .block .articles .article-icons svg path {
  -webkit-transition: 200ms;
  transition: 200ms;
}
.body .content .block .articles .article-icons .facebook:hover .facebook-bg {
  fill: #3b5998;
  opacity: 0.5;
}
.body .content .block .articles .article-icons .twitter:hover .twitter-bg {
  fill: #00acee;
  opacity: 0.5;
}
.body .content .block .articles .article-icons .in:hover .in-bg {
  fill: #0e76a8;
  opacity: 0.5;
}
.body .content .block .articles .article-icons .inst:hover .inst-bg {
  fill: #aa4187;
  opacity: 0.5;
}
.body .content .block .text-block {
  width: 40.3125rem;
  height: 14.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
.body .content .block .text-block .who-written {
  width: 12.9375rem;
  height: 7.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
.body .content .block .text-block .who-written p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.625rem;
  color: #7E8492;
}
.body .content .block .text-block .who-written h1 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.625rem;
  letter-spacing: -0.0625rem;
}
.body .content .block .text-block h4 {
  font-size: 1.125rem;
  line-height: 2rem;
  font-weight: 400;
}

footer {
  width: 90rem;
  height: 48.5625rem;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #1D1E25;
}
footer .gap {
  width: 75rem;
  height: 10.3125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 7rem;
  left: 7.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .gap button {
  width: 11.0625rem;
  height: 3.5rem;
  background-color: #ffffff;
  color: #1D1E25;
  border-radius: 6.25rem;
  border: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}
footer .gap button:hover {
  background-color: #e0e0e0;
}
footer .gap button:active {
  -webkit-transform: scale(0.98);
      -ms-transform: scale(0.98);
          transform: scale(0.98);
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
footer .gap span {
  width: 45rem;
  height: 10.3125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  color: #fff;
}
footer .gap span h1 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 120%;
}
footer .gap span h3 {
  max-width: 33.9375rem;
  font-size: 1.125rem;
  line-height: 2rem;
  font-weight: 500;
  color: #AFB3BB;
}
footer .naviation {
  width: 90rem;
  height: 28.4375rem;
  position: relative;
  top: 20.125rem;
  color: #fff;
}
footer .naviation .logo {
  position: absolute;
  top: 5rem;
  left: 7.5rem;
}
footer .naviation h4 {
  max-width: 18.25rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.625rem;
  position: absolute;
  top: 9.375rem;
  left: 7.5rem;
  color: #7E8492;
}
footer .naviation .nav-grid {
  width: 47.75rem;
  height: 12rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 4.75rem;
  left: 34.75rem;
}
footer .naviation .nav-grid .block {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}
footer .naviation .nav-grid .block b {
  font-size: 1rem;
  line-height: 1.5rem;
}
footer .naviation .nav-grid .block span {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
footer .naviation .nav-grid .block span a {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #7E8492;
  text-decoration: none;
}
footer .naviation .nav-grid .block span a:after {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 0.075rem;
  background-color: #fff;
  content: "";
  -webkit-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
}
footer .naviation .nav-grid .block span a:hover:after,
footer .naviation .nav-grid .block span a:focus:after {
  width: 100%;
}
footer .naviation .line {
  width: 75rem;
  border-bottom: 0.0625rem solid #606060;
  position: absolute;
  top: 21.6875rem;
  left: 7.5rem;
}
footer .naviation .bottom {
  width: 75rem;
  height: 1.25rem;
  position: relative;
  top: 23.5625rem;
  left: 7.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .naviation .bottom p {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: #fff;
}
footer .naviation .bottom .bottom-content {
  width: 36.5rem;
  height: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .naviation .bottom .bottom-content .social-media {
  width: 9.5rem;
  height: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
}
footer .naviation .bottom .bottom-content .social-media svg {
  cursor: pointer;
}
footer .naviation .bottom .bottom-content .social-media path {
  -webkit-transition: 200ms;
  transition: 200ms;
}
footer .naviation .bottom .bottom-content .social-media .facebook:hover path {
  fill: #3b5998;
}
footer .naviation .bottom .bottom-content .social-media .twitter:hover path {
  fill: #00acee;
}
footer .naviation .bottom .bottom-content .social-media .inst:hover path {
  fill: #aa4187;
}
footer .naviation .bottom .bottom-content .social-media .IN:hover path {
  fill: #0e76a8;
}
footer .naviation .bottom .bottom-content .footer-links {
  width: 22.5rem;
  height: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.5rem;
}
footer .naviation .bottom .bottom-content .footer-links a {
  color: #fff;
  text-decoration: none;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
}